html
	head
		meta(
			charset="utf-8"
		)
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		)
		title Create Room
		link(
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
			integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
			crossorigin="anonymous"
		)
		include ../includes/bootstrap_css.pug
		link(
			rel = "stylesheet"
			href = "/css/create_room.css"
		)
		link(
			rel = "stylesheet"
			href = "/css/general.css"
		)
		link(
			rel = "stylesheet"
			href = "/css/navigation.css"
		)
	body
		include ../includes/nav.pug
		div(id="creation-div")
			div(class="container")
				h3(
					class="text-center mb-5"
				) Create new room
				input(
					readonly
					id="room-code-input"
					class = "p-2 rounded shadow-sm border"
					type="text"
					placeholder="Room code"
				)
				button(
					id="generate-room-code"
					type="button"
					class="rounded border shadow-sm p-2 w-100 text-white red-bg"
				) Create a room!
				div(id="after-creation")
					div(id="room-qr-code")
					div
						p(id="feedback")
	script(
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
	)
	include ../includes/bootstrap_js.pug
	script(
		src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"
		integrity="sha256-Thm9kMI2BQKxVnCWipQIGeb8QVl2lohO+WWWfCiF8b0="
		crossorigin="anonymous"
	)
	script(
		src="/js/qrcode.min.js"
	)
	script(
		src="/js/create_room.js"
	)
	script(
		src="/js/navigation.js"
	)

