html
	head
		meta(
			charset="utf-8"
		)
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		)
		title YouSync - Home
		//- font awesome
		link(
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
			integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
			crossorigin="anonymous"
		)
		//- bootstrap
		include ../includes/bootstrap_css.pug
		link(
			rel = "stylesheet"
			href = "/css/index.css"
		)
		link(
			rel = "stylesheet"
			href = "/css/footer.css"
		)
		link(
			rel = "stylesheet"
			href = "/css/general.css"
		)
		link(
			rel = "stylesheet"
			href = "/css/navigation.css"
		)
	body
		include ../includes/nav.pug
		section(
			class = "section"
			id="main-section"
		)
			div(class="container")
				h1(
					align="center"
					class="text-white"
				) Synchronized solution for watching Youtube videos!
				p(
					align="center"
					id="main-subtitle"
					class="red-text"
				) YouSync allows you to watch youtube videos synchronized across multiple devices
				div(class="text-center")
					img(
						src="/images/wifi-yt.png"
						class="img-fluid"
					)
		section(
			class = "section"
			id="how-it-works"
		)
			div(class="container")
				h1(
					align="center"
					class="red-text"
				) How It Works
				hr
				div(class="row step")
					div(class="col-md-6")
						h2(align="center")
							i(class="fas fa-key") 
						h2(
							align="center"
							class="black-text"
						) A user creates a room and gets a 7-letter room key.
				div(class="row step")
					div(class="col-md-6 offset-md-6")
						h2(align="center")
							i(class="fas fa-users") 
						h2(
							align="center"
							class="black-text"
						) User just shares the key or QR code and everybody is good to go.
				hr
				div(class="text-center")
					br
					img(
						src="/images/devices.png"
						class="img-fluid"
					)
				br
				br
				h2(
					align="center"
					class="black-text"
				) Now all of the users in the room are synchronized!
		include ../includes/footer.pug		
	script(
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
	)
	include ../includes/bootstrap_js.pug
	script(
		src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"
		integrity="sha256-Thm9kMI2BQKxVnCWipQIGeb8QVl2lohO+WWWfCiF8b0="
		crossorigin="anonymous"
	)
	script(
		src="/js/footer.js"
	)
	script(
		src="/js/navigation.js"
	)

