html
	head
		meta(
			charset="utf-8"
		)
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		)
		title YouSync - Home
		//- font awesome
		link(
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
			integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
			crossorigin="anonymous"
		)
		//- bootstrap
		include ../includes/bootstrap_css.pug
		link(
			rel = "stylesheet"
			href = "/css/room.css"
		)
		link(
			rel = "stylesheet"
			href = "/css/general.css"
		)
		link(
			rel = "stylesheet"
			href = "/css/navigation.css"
		)
	body
		//- navigation is different for when in room
		nav(id="navigation" class="py-2")
			div(
				class="container-fluid pb-2 shadow-sm border-bottom"
				id="navigation-inner"
			)
				div(id="nav-logo")
					h3(class="red-text") YoutubeSync
				div(id="nav-icon-wrapper")
					div(id="nav-icon")
						span
						span
						span
						span
				div(id="nav-list-wrapper")
					ul(id="nav-list")
						li(class="nav-item")
							a(
								href="#notifications"
								class = "h6"
								id="show-notify"
							)
								i(
									class="fas fa-bell"
									
								) 
								| &nbsp;Notifications
						li(class="nav-item")
							a(
								href="#usersList"
								class = "h6"
								id="show-users"
							)
								i(
									class="fas fa-users"
									
								) 
								| &nbsp;Users
						li(class="nav-item")
							a(
								class="text-white red-bg nav-button"
								href="/join"
								id = "leave-room"
							) Leave room
		//- notificataions
		div(
			id="notification-list-wrapper"
			class="ws-div"
		)
			div(class="container")
				p(align="right")
					span(class="text-white cursor-pointer ws-div-control close-ws-div")
						i(class="fas fa-times") 
						| &nbsp;Close
					span(
						class="text-white cursor-pointer ws-div-control"
						id="clear-all-notifications"
					)
						i(class="fas fa-broom") 
						| &nbsp;Clear all
			div(
				id="notification-list"
				class="container"
			)
		//- users
		div(
			id="users-list-wrapper"
			class="ws-div"
		)
			div(class="container")
				p(align="right")
					span(class="text-white cursor-pointer ws-div-control close-ws-div")
						i(class="fas fa-times")
						| &nbsp;Close
			div(
				id="users-list"
				class="container"
			)
		//- video
		section(class="section container-fluid")
			div(class="row")
				div(class="col-xl-8")
					h3(
						align="left"
						class="remove-margin-bottom black-text"
					) Choose video
					br
					div(class="row")
						div(class = "col-lg-10")
							input(
								id="embed-url"
								class="input p-2 rounded shadow-sm border"
								type="text"
								placeholder="Video URL"
							)
						div(class = "col-lg-2")
							button(
								id="change-btn"
								class="rounded border shadow-sm p-2 w-100 text-white red-bg"
								type="button"
							) Change
					div(id="video-wrapper")
						div(id="video")
						div(id="yt-block")
						div(id="controls-wrapper")
							div(id="video-slider")
								div(id="video-slider-front")
								div(id="video-slider-back")
								div(id="video-time-preview")
							div(id="controls")
								button(
									id="video-toggle"
									type="button"
								)
									i(class="fas fa-play")
								label(id="video-time") video time
				div(class="col-xl-4")
					h3(class="remove-margin-bottom") Search YouTube
					br
					div(class="row")
						div(class = "col-lg-8")
							input(
								id="search-video"
								class="input p-2 rounded shadow-sm border"
								type="text"
								placeholder="Search text"
							)
						div(class = "col-lg-4")
							button(
								id="search-btn"
								class="rounded border shadow-sm p-2 w-100 text-white red-bg"
								type="button"
							) Search
					div(id="video-search-results" class = "position-relative")
						div(id = "yt-search-loading-wrapper")
							div(id="yts-loading-animation")
								div(class = "lds-ring")
									div
									div
									div
									div
						h3(id="start-searching-text") Start searching for a video...
		//- footer is different for when in room
		footer
			hr
			div(id="room-qr-code")
				h4 Scan QR code to connect to this room!
	script(
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
	)
	include ../includes/bootstrap_js.pug
	script(
		src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"
		integrity="sha256-Thm9kMI2BQKxVnCWipQIGeb8QVl2lohO+WWWfCiF8b0="
		crossorigin="anonymous"
	)
	script(
		src = "https://www.youtube.com/iframe_api"
	)
	script(type = "text/javascript").
		const room = "#{roomID}";
		const user = "#{username}";
	script(
		src="/js/room/socket_events.js"
	)
	script(
		src="/js/room/player.js"
	)
	script(
		src="/js/room/playerUI.js"
	)
	script(
		src="/js/room/room.js"
	)
	script(
		src="/js/room/yt_search.js"
	)
	script(
		src="/js/room_holder.js"
	)
	script(
		src="/js/qrcode.min.js"
	)
	script(
		src="/js/navigation.js"
	)

