nav(id="navigation" class = "pt-3")
	div(
		class="container-fluid border-bottom shadow-sm"
		id="navigation-inner"
	)
		div(id="nav-logo")
			h3(class="red-text") YoutubeSync
		div(id="nav-icon-wrapper")
			div(id="nav-icon")
				span
				span
				span
				span
		div(id="nav-list-wrapper")
			ul(id="nav-list")
				li(class="nav-item")
					a(href="/") Home
				li(class="nav-item")
					a(href="/#how-it-works") How It Works
				li(class="nav-item")
					a(
						class="white-text red-bg nav-button"
						href="/create"
					) Create Room
				li(class="nav-item")
					a(
						class="white-text red-bg nav-button"
						href="/join"
					) Join Room